body{
    margin: 0;
    padding: 0;
}

//variables

$color-logo:#333333;

//Mixin

@mixin flex-row{
    display: flex;
    flex-direction: row;
}


.header{
    position: fixed;
    top: 0;
}

.header__row{
    @include flex-row;

}

.logo{
    margin-top: 28.5px;
    margin-left: 265px
}

.menu{
    margin-left:490px
}

.logo__row{
    @include flex-row;
}

.logo__image{
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 17px;
}

.logo__image_elipse{
    width: 17px;
    border: 1px solid #333333;
    border-radius: 50%;
}

.logo__image_rectan{
    width: 32px;
    border: 1px solid #333333;
    border-radius: 11px;

}

.logo__name{
    margin: 0;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-family: 'Ubuntu', sans-serif;
    color: $color-logo;
    font-size: 20px;
    transform: translateY(-15%);

}

.menu__item{
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20.5px;
    display: inline-block;
    font-size: 20px;

    cursor: pointer;
}

.menu__item_icon{
    transform: translateY(30%);
}

.header__line{
    width: 200%;
    height: 1px;
    left: 0px;
    margin-top: 20px;    
    background: #DDDDDD;
}