@import 'Header';

 //Mixin

 @mixin button-mixin{
    width: 255px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 6px;
    background-color: transparent;

    @include font-roboto;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid #7875FE;
    
    color: #7875FE;
    cursor: pointer;
}


//

.main-page{
    width: 100%;
    height: 754px;
}

.main-page__image_position{
    position: absolute;
    bottom: 0;
    right: 300px;
    height: 760px;
}

.title-main-wrap{
    margin-left: 265px;
    margin-top: 210px;
    width: 445px;
}

.title-main__title{
    @include font-roboto;
    font-size: 60px;
    line-height: 100%;
    color: #4C5866;
}
.subtitle{
    @include font-roboto;
    font-size: 18px;
    line-height: 150%;
    color: #85859B;

}

.subtitle-text_long{
    width: 350px;
}
.button{
    @include button-mixin
}
