@import 'Header';
@import 'About';
 
p {
    margin: 5px;
  }

.products-page{
    height: 604px;

}

.products__column{
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.name{
    @include font-roboto;
    font-size: 30px;
    line-height: 35px;

    color: #666666;
}

.edition{
    @include font-roboto;
    font-size: 14px;
    line-height: 16px;

    color: #B5B5BD;
}

.button-more{
    @include font-roboto;
    font-size: 20px;
    line-height: 23px;
    
    color: #7875FE;
    border: none;
    background: none;
    cursor: pointer;
}

.image-container{
    position: relative;
}

.background-image{
    z-index: 1;
}
.foreground-image{
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.position-pack{
    left: 0;
}

.position-bag{
    left: 15px;
    bottom: 5px;
}

.position-case{
    left: 14px;
    bottom: 5px;
}
.position-other-prod{
    left: 5px;
    bottom: 5px;
}

.position-other-prod2{
    left: 90px;
    bottom: 5px;
}
 